{% load static %}

<html>
    
<head>
        <title>Faraz Notes app</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/note.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

        
</head>
<body>
    <div class= 'page-header'>
        {% if user.is_authenicated %}
        <a href="{% url 'note_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        {% endif %}
        
        <h1><a href ="/">Faraz Notes App</a></h1>
    </div>
    
    <div class="content container">
            <div class="row">
                <div class="col-md-8">
                        {% block content %}
                        {% endblock %}

                </div>
            </div>
        </div>
    
</body>





</html>